* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    color: #FFFFFF;
    background-color: #154360;   
}
/*Estilos para header y nav*/
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid #45B39D;
    box-shadow: 2px 2px 7px 1px #45B39D;
}
nav ul {
    display: flex;
    gap: 1.9em;
} 
header a {
    color: #D6EAF8;
    font-size: 1.5em;
    padding: 0.6em;
}
.logo {
    color: #00FFFF;
}
#check {
    display: none;
}
.checkbtn {
    font-size: 25px;
    color: #F1C40F;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
/*Estilos para el inicio*/
.seccion-1  {
    min-height: 85vh;
    display: flex;
    justify-content: center;

}
.acerca-de {
    margin: 150px auto;
    width: 70%;
}

.titulo1, .parrafo1, .parrafo2 {
    font-size: 1.1em;
    margin: 2rem;

    text-align: justify;
}
.seccion-1 img {
    float: left;
    max-width: 320px;
    width: 400px;
    height: 500px;
    margin: 1rem;
    border-bottom: 0.1em solid #F1C40F;
}
main, footer, main.acerca-de {
    padding: 5px;
} 

main {
    font-size: 1.3em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
/*Estilos para proyectos personales*/
.proyectos {
    height: 85vh;
    margin: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tarjeta-1, .tarjeta-2, .tarjeta-3 {
    margin: 0.5em;
    padding: 1.5em;
    width: 15em;
    border: 0.1em solid #FFFFFF;
    border-radius: 1em;
}
.proyectos div img {
    width: 14em;
    height: 10em;
    border-radius: 0.6em;
}
/*Estilos para Herramientas*/
.herramientas {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 1em;
}

.iconos-herramientas {
    width: 50%;
    border: 1px solid #45B39D;
}
.herramientas i {
    padding: 20px;
}
/*En esta parte haremos el FOOTER*/
footer {
    display: flex;
    background-color: #138D75;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;   
}
footer i {
    padding: 0.4em;
}

#frase {

    font-size: 20px;
}


/*En esta parte es sobre lo responsive*/

@media (max-width: 768px) {
    body {
    font-size: 13px;
    }
    header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    }
    .checkbtn {
        display: block;
    }
    #encabezado ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #008080;
        text-align: center;
        top: 80px;
        left: 100%;
        transition: all 0.5s;
    }
    #check:checked ~ ul {
        left: 0;
        display: block;
    }
    #encabezado nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #encabezado nav ul li a {
        font-size: 20px;
    }
    check:checked ~ .checkbnt {
        color: #1B2631;
    }
    
    .proyectos {
        display: block;
    }
    .iconos-herramientas i {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

    



